<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="backgroud-footer"></div>
        <div class="footer-content">
            <div class="footer-logo">
                <p>SXS</p>
            </div>
            <div class="footer-text">
                <p>2025</p>
            </div>
            <div class="footer-social">
                <a href="#">
                    <img src="/images/vk-fill.svg" alt="footer-social">
                </a>
                <a href="#">
                    <img src="/images/telegram-fill.svg" alt="footer-social">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>